@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

@font-face {
	font-family: 'Francisco';
	src: url('/src/lib/fonts/Francisco.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HSBombaram';
	src: url('/src/lib/fonts/HSBombaram.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-style-1: 'Noto Sans KR', serif;
	--font-style-2: 'Goblin One', cursive;
	--font-style-3: 'Francisco', sans-serif;
	--font-style-4: 'HSBombaram', sans-serif;
	--font-style-5: 'Noto Serif KR', sans-serif;
	--font-style-6: 'Noto Serif KR', sans-serif;

	--color-text-1: #FFFFFF;
	--color-text-2: #FFD600;
	--color-text-3: rgba(23, 12, 30, 1);
	--color-text-4: #354D11;
	--color-text-5: #061B08;
	--color-text-6: #9023D5;
}

* {
	font-size: 0.7rem;
	box-sizing: border-box;
	word-break: keep-all;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

.pc {
	display: block;
}

.mobile {
	display: none;
}

.button-gray,
.button-white,
.button-black {
	width: 176px;
	height: 84px;
	border-radius: 50%;
	transform: rotate(-13deg);

	font-family: var(--font-style-5);
	font-size: 2rem;
	letter-spacing: 0.3em;
	cursor: pointer;
}

.button-gray {
	color: var(--color-text-1);
	background-color: rgba(0, 0, 0, 0.3);
	border: 1.5px solid var(--color-text-1);
}

.button-gray:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.button-white {
	color: var(--color-text-5);
	background-color: var(--color-text-1);
	border: 1px solid var(--color-text-5);
}

.button-black {
	color: var(--color-text-1);
	background-color: var(--color-text-5);
	border: 1px solid var(--color-text-5);
}

.style-2 {
	font-size: 5rem;
	letter-spacing: 0em;

	& span {
		font-size: 5rem;
		letter-spacing: 0em;
	}
}

.style-9-pc {
	font-family: var(--font-style-6);
	font-size: 1.7rem;
	letter-spacing: -0.1em;
	color: var(--color-text-5);

	& b {
		font-weight: bold;
		font-size: 1.7rem;
		letter-spacing: -0.1em;
	}

	& span {
		font-size: 1.7rem;
		letter-spacing: -0.1em;
		color: var(--color-text-6);
	}
}

.character-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.character-img {
	width: 520px;
	height: 520px;
	/* width: 300px; */
	/* height: 300px; */
}

.character-img-selected {
	width: 520px;
	height: 520px;
}

.character-item {
	margin-top: 1rem;
	font-family: var(--font-style-6);
	font-size: 2rem;
	letter-spacing: -0.1em;
	color: var(--color-text-5);
}

.character-name {
	line-height: 4rem;
	font-family: var(--font-style-5);
	font-weight: bold;
	font-size: 4rem;
	letter-spacing: -0.1em;
	color: var(--color-text-5);
}

/* tablets and smartphones */
@media (max-width: 750px) {
	.pc {
		display: none;
	}
	
	.mobile {
		display: block;
	}
	
	.button-white,
	.button-black {
		width: 107px;
		height: 27px;
		border-radius: 0%;
		transform: rotate(0deg);

		font-size: 1.1rem;
		letter-spacing: 0.2em;
	}
	
	.button-gray {
		width: 106px;
		height: 51px;
		font-size: 1.25rem;
		letter-spacing: 0.2em;
	}

	.style-2 {
		font-family: var(--font-style-4);
		font-size: 2rem;
		letter-spacing: -0.1em;
		color: var(--color-text-5);
	
		& span {
			font-size: 2rem;
			letter-spacing: -0.1em;
			color: var(--color-text-6);
		}
	}

	.style-4-mobile {
		font-size: 0.9rem;
		letter-spacing: -0.1em;
	
		& b {
			font-weight: bold;
			font-size: 0.9rem;
			letter-spacing: -0.1em;
		}
	
		& span {
			font-size: 0.9rem;
			letter-spacing: -0.1em;
		}
	}

	.style-6 {
		font-size: 1.1rem;
		letter-spacing: 0.2em;
	}
	
	.character-img {
		width: 158px;
		height: 158px;
	}

	.character-img-selected {
		width: 208px;
		height: 208px;
	}

	.character-item {
		margin-top: 0.2rem;
		font-size: 1rem;
	}

	.character-name {
		line-height: 1.7rem;
		font-size: 1.7rem;
	}
}
