@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
	--font-body: 'Noto Serif KR', serif;

	--color-bg-0: #f3eae3;
	--color-bg-1: #dbd2cb;
	--color-bg-2: #ccc4be;
	--color-txt-1: #170c1e;
	--color-txt-2: #a29ea5;
	--color-btn-1: #f3ece7;
	--color-btn-2: #e4ddd8;
	--color-text: #000000;
}

[class*='pc'] {
	display: block;
}

[class*='mobile'] {
	display: none;
}

* {
	font-family: var(--font-body);
	letter-spacing: -1px;
	color: var(--color-text);
	font-weight: 500;
	line-height: 180%;
	box-sizing: border-box;
	word-break: keep-all;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

button {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid var(--color-btn-2);
	border-left: 1px solid var(--color-btn-2);
	background-color: var(--color-btn-1);
	cursor: pointer;
}

button:hover {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid var(--color-btn-2);
	border-left: 1px solid var(--color-btn-2);
}

button:active {
	border-bottom: 1px solid var(--color-btn-2);
	border-right: 1px solid var(--color-btn-2);
	border-top: 1px solid black;
	border-left: 1px solid black;
	background-color: var(--color-bg-2);
}

button:disabled {
	border-bottom: 1px solid var(--color-btn-2);
	border-right: 1px solid var(--color-btn-2);
	border-top: 1px solid black;
	border-left: 1px solid black;
	color: var(--color-txt-2);
	cursor: default;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

h2 {
	font-size: 2rem;
	text-align: center;
	margin: 0;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
}

h4 {
	font-size: 1.22rem;
	text-align: center;
	margin: 0;
}

h5 {
	font-size: 1.15rem;
	text-align: center;
	margin: 0;
}

p {
	font-size: 1rem;
	text-align: center;
	margin: 0;
}

h1 > b {
	font-weight: bold;
}

a {
	text-decoration: none;
	outline: none;
}

.font-gothic,
.font-gothic * {
	font-family: 'Noto Sans KR', sans-serif;
}

.font-bold,
.font-bold * {
	font-weight: bold;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

@media (max-width: 750px) {
	[class*='pc'] {
		display: none;
	}

	[class*='mobile'] {
		display: block;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.15rem;
	}

	h4 {
		font-size: 1.05rem;
	}
	h5 {
		font-size: 1rem;
	}
}

@media (max-width: 500px) {
	[class*='pc'] {
		display: none;
	}

	[class*='mobile'] {
		display: block;
	}

	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1rem;
	}

	h4 {
		font-size: 0.95rem;
	}

	h5 {
		font-size: 0.9rem;
	}
}
